/* @import url('https://fonts.cdnfonts.com/css/shera'); */
* {
    font-family: 'she-ra', sans-serif;
}

.content {
    /* width: 500px; */
    width: 31.25rem;
    height: 25.625rem;
    background: #2d608b;
    color: #162229;
    /* color: rgb(255, 255, 255); */
    top: 50vh;
    left: 50vw;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 40px 30px;
    border-radius: 20px;
    opacity: 0.92;

}

h2 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 2rem;
}

.info_div {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: .4rem;
    font-size: 1.5rem;
}

.myForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.myForm input[type="text"],
input[type="password"],
input[type="number"] {
    border: none;
    border-bottom: 1px solid rgb(255, 255, 255);
    background: transparent;
    outline: none;
    height: 20px;
    color: #162229;
    /* font-size: 32px; */
}

.myForm input[type='submit'] {
    margin-top: 1rem;
    cursor: pointer;
    background: #aea1dd;
    color: #000;

    border: none;
    border-radius: 10px;
}

.myForm input[type='submit']:hover {
    background-color: forestgreen;

}


.flashes {
    list-style: none;
    padding: 0;
}

.flashes li.error {
    color: red;
    border: 1px solid red;
    padding: 10px;
    margin-bottom: 10px;
}