<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formulário</title>
  </head>
  <body>
    <form action="/form" method="post">
      <label>Primeiro nome:</label>
      <input type="text" name="primeiro_nome" /><br /><br />
      <label>Segundo Nome:</label>
      <input type="text" name="segundo_nome" /><br /><br />
      <input type="submit" value="Enviar" />
    </form>
  </body>
</html>
