<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Meus forms</title>
  </head>
  <body>
    <h1>Inicio do formulario</h1>
    <form action="/process_form" method="post">
      <label for="">Primeiro Nome</label>
      <input type="text" name="primeiro_nome" /><br />
      <label for="">Segundo Nome</label>
      <input type="text" name="segundo_nome" /><br />
      <input type="submit" value="Enviar" />
    </form>
  </body>
</html>
